body{
  height: 80px;
  width: 240px;
}

.popup-title-p{
  font-size: 14px;
  text-align: center;
  padding: 20px;
  margin: 20px;
}

.popup-change-visible-item-switch{
  padding: 20px;
  margin: 20px;
}
